.lightboxCon {
    .lightbox-contact {
        display: none;
        
    }
}
.lightbox-contact {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: white;
    .button {
        height: 100%;
        overflow: scroll;
    }
    
    .close {
        cursor: pointer;
    position: relative;
    top: 0px;
    right: 20px;
    font-size: 30px;
    color: $main-text-color;
    }
    }
    

.mess-sub {
    padding: 30px;
        display: flex;
        flex-direction: column;
        p {
            position: relative;
            font-size: 16px;
            top: 30vh;
            left: 20px;
            
            color: $second-text-color;
            z-index: 3;
        }
}
.show-lb {
    display: flex !important;
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: white;
    color: $main-text-color;
    padding: 30px;
    z-index: 3;
    overflow: scroll;
    scroll-behavior: smooth;
    
    .nav-position{
        top:0;
    }
    span{color: white;
    font-size: 2rem;
    cursor: pointer;}
    h1 {
        color: pink;
    }
    .lb-close {
        cursor: pointer;
    position: relative;
    top: 0px;
    right: 20px;
    font-size: 35px;
    color: $main-text-color;
    font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    }
}

.show-lightbox {
    display: block;
    
    .image-player {
        img {
            width: 70%;
        }
        h2 {
            font-size: 22px;
            text-transform: uppercase;
            font-weight: bold;
        }
        p {
            color: $second-text-color;
            font-size: 18px;
            margin: 10px 50px 10px 0px;
            line-height: 20px;
        }
        .info-time {
            margin-top: 100px;
        }
        .info-con1 {
            video {
                width: 85%;
                margin-top: 15px;
            }
        }
        .pic-con {
            img {
                width: 80%;
                margin: 10px 0px;
            }
        }
        .process-con {
            h2 {
                margin-top: 20px;
            }
            p{
                margin-right: 60px;
            }
            img {
                width: 80%;
                margin: 10px 0px;
            }
        }
        .process-text {
            margin-top: 30px;
        }
        .lead-contact {
            width: 90%;
            text-align: center;
            margin: 20px 0px;
            h3 {
                font-size: 20px;
                font-style: italic;
                margin: 20px 0px;
            }
            a {
            color: $second-text-color;
            border: 2px solid $second-text-color;
            padding: 10px;
            border-radius: 8px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            transition: all 0.3s;
            background: none;
            font-size: 14px;
            &:hover {
                color:#fff;
                background-color: $second-text-color;
                transition: all 0.3s;
            
            }
            }
        }
    }
    
}


@media screen and (min-width: $tablet-size) {
    .mess-sub  {
        padding: 20px;
        p{
            top: 20vh;
            font-size: 18px;
        }
    }
    .image-player {
        margin-left: 60px;
        margin-top: 100px;
        .info-time {
            display: flex;
            flex-direction: row;
            
            .info-con {
                display: flex;
                flex-direction: row;
            }
        }
        .info-con1 {
            margin-top: 20px;
            margin-right: 20px;
            video {
                margin-left: 20px;
            }
        }

        .process-con {
            img {
                padding-left: 25px;
            }
        }
        .pic-con{
            img {
                padding-left: 25px;
            }
        }
    }
    .lead-contact {
        margin-bottom: 40px;
        h3 {
            margin-bottom: 30px;
        }
    }
}
@media screen and (min-width: $desktop-size) {
    .mess-sub  p {
        top: 30vh;
    }
    .image-player {
        margin-left: 100px;
        .info-time {
            display: flex;
            flex-direction: column;
        }
        .process-con {
            img {
                padding-left: 30px;
            }
        }
        .pic-con {
            img {
                padding-left: 30px;
            }
        }
        .lead-contact {
            margin-bottom: 50px;
           
        }
        .info-team {
            p{margin-right: 60px;}
        }
        .info-con1 {
            p {
                margin-right: 40px;
            }
        }
    }
}